@font-face {
  font-family: 'Carolyna Pro Black';
  src: url('assets/fonts/CarolynaProBlack.eot');
  src: url('assets/fonts/CarolynaProBlack.eot') format('embedded-opentype'),
       url('assets/fonts/CarolynaProBlack.woff2') format('woff2'),
       url('assets/fonts/CarolynaProBlack.woff') format('woff'),
       url('assets/fonts/CarolynaProBlack.ttf') format('truetype'),
       url('assets/fonts/CarolynaProBlack.svg#CarolynaProBlack') format('svg');
}
